html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(to right bottom, #222222, #222223, #212224, #202325, #1e2325, #202b2d, #233335, #253b3b, #2b4d4e, #306061, #347475, #37888a);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 16px 0;
  font-weight: 300;
}

.hero {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
  width: 100%;
  height: 100vh;
  color: #e04a4c;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url(../img/graham-mansfield-E8VOttj22s4-unsplash.jpg);
  background-size: cover;
  background-position: center;
}
.hero .main-name {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero .plan_btn {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero .start_btn {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  color: #fff;
  font-family: "Open Sans", sans-serif;
}

.logo {
  display: block;
}

.nav_menu {
  display: none;
}

.header_mobile i {
  font-size: 2.4rem;
  cursor: pointer;
}

.hero_contents .main-name {
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-size: 5.8rem;
}

.start_btn,
.plan_btn {
  color: #fff;
  font-size: 1.8rem;
  width: 160px;
  height: 55px;
  line-height: 42px;
  padding: 0;
  border: none;
  border-radius: 24px;
  background: #e04a4c;
  background: linear-gradient(0deg, rgb(172, 55, 4) 100% rgb(230, 64, 67) 0%);
}
.start_btn:hover,
.plan_btn:hover {
  color: #e04a4c;
  background: transparent;
  box-shadow: none;
}
.start_btn:before, .start_btn:after,
.plan_btn:before,
.plan_btn:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: #e04a4c;
  box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.1333333333);
  transition: 400ms ease all;
}
.start_btn:after,
.plan_btn:after {
  right: inherit;
  top: 100%;
  left: 0;
  bottom: 0;
}
.start_btn:hover:before, .start_btn:hover:after,
.plan_btn:hover:before,
.plan_btn:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

.hero_video {
  display: none;
}

.search_place {
  position: relative;
  background: #37888a;
  height: 20vh;
  text-align: center;
}
.search_place .search_title {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.6rem;
}
.search_place .search-container {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  display: flex;
  margin: 0 auto;
}
.search_place .search-container i {
  display: block;
  font-size: 24px;
  padding: 11px;
  cursor: pointer;
}
.search_place .search-container i :hover {
  color: #e04a4c;
}
.search_place input#search-bar {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1.8rem;
  color: #fff;
  border: 1px solid #fff;
  outline: none;
}
.search_place input#search-bar:focus {
  border: 1px solid #e04a4c;
  transition: 0.35s ease;
  color: #fff;
}
.search_place input#search-bar:focus::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
.search_place input#search-bar:focus::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
.search_place input#search-bar:focus:-ms-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

/*# sourceMappingURL=main.css.map */
