$color-primary: #e04a4c;
$color-secondary: #37888a;
$color-white: #ebebeb;

$font-main: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
  sans-serif;
$font-sub: "Poppins", sans-serif;

$font-size-main: 5.8rem;
$font-size-sub: 4.2rem;
$font-size-price: 4.8rem;
$font-size-desc: 2rem;

$font-size-med-main: 7.2rem;
$font-size-med-sub: 6rem;

$font-size-lar-main: 8.6rem;
$font-size-lar-sub: rem;

//breakpoint
/// @prop {String} keys 
/// @prop {Map} values 
$breakpoints: (
  //this site is mobile fast so the default is (0-767)
  "medium": 768px,
  "large": 1024px
) !default;

@mixin break($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

//layout

@mixin flexLayout {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin textStyles($transform: uppercase) {
  letter-spacing: -0.05em;
  text-transform: $transform;
}

@mixin centering($topValue) {
  position: absolute;
  top: $topValue;
  left: 50%;
  transform: translate(-50%, -50%);
}

html {
  font-size: 62.5%;
}

@mixin main_bg_color {
  background-image: linear-gradient(
    to right bottom,
    #222222,
    #222223,
    #212224,
    #202325,
    #1e2325,
    #202b2d,
    #233335,
    #253b3b,
    #2b4d4e,
    #306061,
    #347475,
    #37888a
  );
}

body {
  @include main_bg_color;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: $color-white;
}

//btn

@mixin main_btn {
  font-family: $font-sub;
  color: $color-white;
  font-size: 1.8rem;
  width: 160px;
  height: 55px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: $color-primary;
  border-radius: 8px;

  background-image: linear-gradient(
    to right,
    #c52428,
    #c72629,
    #c9272a,
    #cc292b,
    #ce2a2c,
    #d02d2f,
    #d33133,
    #d53436,
    #d83a3c,
    #db3f41,
    #dd4547,
    #e04a4c
  );

  &:hover {
    color: $color-primary;
    background: transparent;
    box-shadow: none;
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 100%;
    right: 0;
    height: 1px;
    width: 0;
    background: $color-primary;
    box-shadow: -1px -1px 5px 0px #fff, 7px 7px 20px 0px #0003,
      4px 4px 5px 0px #0002;
    transition: 400ms ease all;
  }
  &:after {
    right: inherit;
    top: 100%;
    left: 0;
    bottom: 0;
  }
  &:hover:before,
  &:hover:after {
    width: 100%;
    transition: 800ms ease all;
  }
}

//input
@mixin input {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1.8rem;
  color: $color-white;
  border: 1px solid $color-white;
  outline: none;
  &:hover {
    border: 1px solid $color-primary;
    transition: 0.35s ease;
    color: $color-white;
    &::-webkit-input-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
    &::-moz-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
    &:-ms-placeholder {
      transition: opacity 0.45s ease;
      opacity: 0;
    }
  }
}

//card
@mixin card_bg {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
