@use "base" as *;

//common
html {
  scroll-behavior: smooth;
}

body {
  color: $color-white;
  font-family: $font-main;
}

//header
.logo {
  font-family: $font-main;
  display: block;
}

.header_mobile {
  & i {
    font-size: 2.4rem;
    cursor: pointer;
  }
}

.overlay {
  position: fixed;
  @include main_bg_color;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.7s;
  z-index: 4;
}
.show {
  opacity: 1;
  pointer-events: auto;
}

.close:hover,
.open:hover {
  opacity: 0.8;
  color: $color-secondary;
  transition: 0.35s ease;
}

.nav_link:hover {
  opacity: 0.8;
  color: $color-secondary;
  transition: 0.35s ease;
}

.overlay li {
  font-weight: 400;
  padding-top: 24px;
  font-size: $font-size-desc;
  font-family: $font-main;
  cursor: pointer;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity 0.3s, transform 0.3s;
}
.nav_item_btn {
  color: $color-white;
  background-color: $color-secondary;
  text-align: center;
  display: block;
  border-radius: 16px;
  margin: 12px auto;
  padding: 16px;
  width: 120px;
  &:hover {
    opacity: 0.8;
    color: $color-primary;
    transition: 0.35s ease;
  }
}

.overlay ul {
  margin-top: 4%;

  .close {
    @include flexLayout;
    width: 25%;
    margin-left: auto;
    font-size: 1.2rem;
    font-weight: 300;
  }
}

//hero
.hero {
  .start_btn {
    @include main_btn;
  }

  .plan_btn {
    @include main_btn;
  }
}

.main-name {
  font-family: $font-main;
  @include textStyles(uppercase);
  text-align: center;
  font-size: $font-size-main;
}

@include break(map-get($breakpoints, "medium")) {
  .main-name {
    font-size: $font-size-med-main;
  }

  .nav_logo {
    font-size: $font-size-desc;
  }

  .nav_menu {
    font-size: $font-size-desc;
  }

  .nav_link {
    cursor: pointer;

    &:hover {
      color: $color-secondary;
      transition: 0.35s ease;
    }

    &.btn {
      background-color: $color-secondary;
      border-radius: 16px;
      margin-bottom: 16px;
      padding: 16px;
      &:hover {
        opacity: 0.8;
        color: $color-primary;
        transition: 0.35s ease;
      }
    }
  }
}

@include break(map-get($breakpoints, "large")) {
  .main-name {
    font-size: $font-size-lar-main;
  }
}
// //search_place

.search_place {
  background: linear-gradient(
    rgba(0, 0, 0, 0.01),
    rgba(55, 136, 138, 0.3),
    rgba(0, 0, 0, 0.01)
  );
  backdrop-filter: blur(14.8px);
  -webkit-backdrop-filter: blur(14.8px);

  .search_title {
    width: 500px;
    @include textStyles(uppercase);
    font-family: $font-main;
    font-size: $font-size-sub;
  }
}

.search-container {
  margin-top: 16px;
  i {
    display: block;
    font-size: 24px;
    padding: 11px;
    cursor: pointer;
    &:hover {
      color: $color-primary;
      transition: 0.35s ease;
    }
  }
}

input#search-bar {
  @include input;
}

//section_common
.section_title {
  font-family: $font-main;
  @include textStyles(capitalize);
  font-size: $font-size-sub;
  color: $color-primary;
}

.section_desc {
  text-align: center;
  letter-spacing: 1.2px;
  line-height: 1.6;
  font-size: $font-size-desc;
  font-family: $font-sub;
}

//section_about
.about_list {
  font-size: 4.2rem;
}

.about_item {
  @include card_bg;
  margin-top: 24px;

  .num {
    @include centering(35%);
    font-family: $font-main;
  }
  .num_content {
    font-size: 1.8rem;
    @include centering(65%);
  }
}

@include break(map-get($breakpoints, "medium")) {
  .about {
    .section_title {
      font-size: $font-size-med-sub;
    }
  }
}

//section_plan

.card {
  @include card_bg;
  &.premium {
    background-image: linear-gradient(
      to right top,
      #2d7171,
      #008472,
      #159663,
      #49a545,
      #7eb00f
    );
    background-color: rgba(114, 199, 88, 0.5);
  }
}
.card_btn {
  .start_btn {
    position: relative;
    @include main_btn;
  }
}

.price_type {
  font-size: 1.4rem;
  background-color: $color-secondary;
  border-radius: 16px;
  margin-bottom: 16px;
  &.premium {
    background-color: #daa520;
  }
}

.price {
  font-size: $font-size-price;
  span {
    font-size: 1.8rem;
  }
}

.card_desc {
  font-family: $font-sub;
  font-size: $font-size-desc;
  line-height: 1.4;
}

.card_ul {
  line-height: 2;
  @include textStyles(capitalize);
}

.card_li {
  font-size: 1.8rem;
  &::marker {
    content: counter(list-item) "› ";
  }

  &.standard:nth-child(3),
  &.standard:nth-child(4),
  &.standard:nth-child(5) {
    text-decoration: line-through;
    color: #999999;
  }

  &.medium:nth-child(4),
  &.medium:nth-child(5) {
    text-decoration: line-through;
    color: #999999;
  }
}

@include break(map-get($breakpoints, "medium")) {
  .plans {
    .section_title {
      font-size: $font-size-med-sub;
    }
  }
}

//Contact

.contact {
  .main-name {
    @include textStyles(capitalize);
    color: $color-primary;
    font-size: $font-size-main;
  }

  .start_btn {
    @include main_btn;
  }

  .contact_title {
    @include textStyles(capitalize);
    margin: 56px auto 0;
    font-family: $font-main;
    font-size: $font-size-sub;
    color: $color-secondary;
    padding-bottom: 26px;
    border-bottom: #2d7171 solid 1px;
    width: 500px;
  }

  @include break(map-get($breakpoints, "medium")) {
    .contact_title {
      width: 800px;
    }
  }
  @include break(map-get($breakpoints, "large")) {
    .contact_title {
      width: 1000px;
    }
  }

  .contact_label {
    @include textStyles(capitalize);
    font-size: 32px;
  }

  .contact_wrap {
    font-family: $font-sub;
    width: 300px;
    font-size: $font-size-desc;
    display: flex;
  }
}

input#email-bar {
  @include input;
}

.submit {
  background-color: $color-white;
  font-size: 1.6rem;
  width: 100px;
  cursor: pointer;
  &:hover {
    color: $color-white;
    background-color: $color-primary;
    transition: 0.35s ease;
  }
}

//footer
.footer {
  @include textStyles(capitalize);
  background-color: #26282aab;
  color: $color-white;
  font-size: $font-sub;
  font-family: $font-main;

  .footer_title {
    font-size: 22px;
  }

  .media_icons {
    font-size: 24px;
    .media_icon {
      &:hover {
        color: $color-primary;
        cursor: pointer;
        transition: 0.35s ease;
      }
    }
  }
}
