@use "base" as *;

//header

.header {
  @include flexLayout;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: 16px 0;
  font-weight: 300;
}

@include break(map-get($breakpoints, "medium")) {
  .header {
    display: none;
  }
}

//hero

.hero {
  position: relative;
  color: $color-primary;
  @include textStyles(capitalize);

  .hero_img {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(19, 19, 19, 0.8), rgba(0, 0, 0, 0.6)),
      url(../img/graham-mansfield-E8VOttj22s4-unsplash.jpg);
    background-size: cover;
    background-position: center;
  }

  .video_wrap,
  .nav_menu,
  .med {
    display: none;
  }

  .main-name {
    @include centering(40%);
  }

  .start_btn {
    position: absolute;
    top: 60%;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }

  .plan_btn {
    position: absolute;
    top: 70%;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }

  @include break(map-get($breakpoints, "medium")) {
    .nav_menu,
    .med {
      display: block;
    }

    .hero_img {
      display: none;
    }

    .video_wrap {
      display: block;
      position: relative;
      overflow: hidden;
    }
    
    .hero_video {
      min-width: 100vw;
      min-height: 100vh;
      vertical-align: bottom;
    }

    .nav_logo {
      position: absolute;
      top: 8%;
      left: 8%;
      z-index: 3;
    }

    .nav_menu {
      position: absolute;
      top: 8%;
      right: 8%;
      z-index: 3;

      .nav_list {
        display: flex;
      }
      .nav_item {
        padding-left: 28px;
      }
    }

    .video_wrap:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      z-index: 0;
      background: linear-gradient(rgba(19, 19, 19, 0.8), rgba(0, 0, 0, 0.6));
      background-size: cover;
      background-position: center;
    }
  }
}

.hero {
  position: relative;

  @include break(map-get($breakpoints, "medium")) {
    .start_btn {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translateX(-110%);
      z-index: 3;
    }

    .plan_btn {
      position: absolute;
      top: 70%;
      left: 50%;
      transform: translateX(10%);
      z-index: 3;
    }
  }
}
//search

.search-container {
  @include centering(55%);
  width: 300px;
  display: flex;
  margin: 0 auto;
}

.search_place {
  position: relative;
  height: 20vh;
  text-align: center;

  .search_title {
    width: 80%;
  }

  .search_title {
    @include centering(25%);
  }
}

//section: common

section {
  width: 90%;
  margin: 72px auto;
}
.section_title {
  margin: 56px 0;
  text-align: center;
  display: block;
}

.section_desc {
  display: block;
  margin: 56px auto;
  width: 80%;
}

//section: about

.section_pic {
  border-radius: 16px;
  margin: 56px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6)),
    url(../img/sven-mieke-Lx_GDv7VA9M-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 35vh;
}

@include break(map-get($breakpoints, "medium")) {
  .section_pic {
    height: 600px;
  }
}

.about_list {
  display: block;
  margin: 0 auto;
  justify-content: center;
  width: 78%;
  display: flex;
  gap: 10%;
}

.about_upper,
.about_bottom {
  width: 50%;
}

.about_item {
  text-align: center;
  align-items: center;
  padding: 24px;
  height: 180px;
}

@include break(map-get($breakpoints, "medium")) {
  .about_list {
    width: 65%;
  }

  .section_pic img {
    height: 60%;
  }
}

@include break(map-get($breakpoints, "large")) {
  .about_list {
    display: flex;
    width: 78%;
    gap: 0;
  }

  .about_upper,
  .about_bottom {
    display: flex;
    margin-left: 0;
  }

  .about_item {
    width: 40%;
    margin-right: 10%;
  }
}

//section: plan

.plan_cards {
  margin: 24px auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  outline: #fff solid 1px;
  margin-top: 48px;
  display: flex;
  justify-content: center;
  width: 450px;
  align-items: center;

  .card_ul {
    margin: 24px;
  }
}
.card_content {
  width: 78%;
  margin: 36px auto;
  padding: 48px;

  .price_type {
    margin-bottom: 36px;
    text-align: center;
    padding: 8px;
    width: 100px;
  }
}

.card_desc {
  margin-top: 24px;
}

@include break(map-get($breakpoints, "medium")) {
  .card {
    margin: 0 24px 32px;
  }
}

//section: contact

.contact {
  margin-bottom: 150px;

  .contact_main {
    border-radius: 8px;
    margin: 36px auto;
    width: 100%;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
      url(../img/sven-mieke-jO6vBWX9h9Y-unsplash.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;

    .main-name {
      @include centering(35%);
    }

    .start_btn {
      @include centering(65%);
    }
  }

  @include break(map-get($breakpoints, "medium")) {
    .contact_container {
      width: 90%;
      margin: 0 auto;
    }
    .contact_main {
      width: 80%;
      margin: 72px auto;
    }
  }
}

@include break(map-get($breakpoints, "medium")) {
  .contact {
    .start_btn {
      @include centering(55%);
    }
  }
}

.contact_form {
  text-align: center;
  margin-top: 24px;

  .contact_desc {
    margin-top: 24px;
  }

  .contact_label {
    display: block;
    margin-top: 36px;
  }

  .contact_wrap {
    margin: 12px auto;
  }
}

//footer
.footer {
  margin: 0 auto;
  text-align: center;
  padding: 26px 0;

  .footer_subtitle {
    margin-top: 8px;
  }
  .media_icons {
    width: 300px;
    justify-content: space-between;
    margin: 26px auto;
    display: flex;
  }

  .copyright {
    margin-top: 26px;
    font-size: 1.2rem;
  }
}
